<!-- templates/index.html -->
{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.total }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.value | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <td colspan="4"><strong>TOTAL</strong></td>
                <td><strong>{{ total | usd }}</strong></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
